body {
    background-color: beige;
}

.container {
    margin-top: 10px;
}

.table-cell {
    vertical-align: middle;
}

.management-btn {
    width: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}

