#comments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment {
    display: flex;
    flex-direction: row;
    width: 70%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    border-radius: 20px;
}

.post-title {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-photo img {
    border: 10px;
    border-radius: 10px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}